name: Lint Commit Messages
on: push

jobs:
  commit-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3

      - name: Install commitlint
        run: |
          npm install --save-dev @commitlint/{config-conventional,cli}

      - name: Lint commits
        run: |
          npx commitlint --from=HEAD~1 --to=HEAD --config ./.github/workflows/configs/commitlint.config.js

  check-dontmerge:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Check for DONTMERGE
        run: |
          result=$(find . \
            -type f \
            ! -path './.github/workflows/commit-lint.yml' \
            ! -name '*.snap' \
            -exec grep -Hn 'DONTMERGE' {} \;)
          if [[ ! -z "$result" ]]; then
            echo "$result"
            exit 1
          fi
